packages:
  yum:
    alsa-lib: []
    atk: []
    cups-libs: []
    gtk3: []
    libXcomposite: []
    libXcursor: []
    libXdamage: []
    libXext: []
    libXi: []
    libXrandr: []
    libXScrnSaver: []
    libXtst: []
    pango: []
    nss-libs: []
    # Añadimos también xorg-x11-server-Xvfb para entornos virtuales de display si fuera necesario
    xorg-x11-server-Xvfb: []
